@font-face {
        font-family: vazir;
        font-weight: 200;
        font-style: normal;
        src: url("../font/vazir/Vazir-Thin-FD.woff2") format("woff2"),
                url("../font/vazir/Vazir-Thin-FD.woff") format("woff"),
                url("../font/vazir/Vazir-Thin-FD.eot") format("eot"),
                url("../font/vazir/Vazir-Thin-FD.ttf") format("ttf");
}

@font-face {
        font-family: vazir;
        font-weight: 300;
        font-style: normal;
        src: url("../font/vazir/Vazir-Light-FD.woff2") format("woff2"),
                url("../font/vazir/Vazir-Light-FD.woff") format("woff"),
                url("../font/vazir/Vazir-Light-FD.eot") format("eot"),
                url("../font/vazir/Vazir-Light-FD.ttf") format("ttf");
}

@font-face {
        font-family: vazir;
        font-weight: 400;
        font-style: normal;
        src: url("../font/vazir/Vazir-Regular-FD.woff2") format("woff2"),
                url("../font/vazir/Vazir-Regular-FD.woff") format("woff"),
                url("../font/vazir/Vazir-Regular-FD.eot") format("eot"),
                url("../font/vazir/Vazir-Regular-FD.ttf") format("ttf");
}

@font-face {
        font-family: vazir;
        font-weight: 500;
        font-style: normal;
        src: url("../font/vazir/Vazir-Medium-FD.woff2") format("woff2"),
                url("../font/vazir/Vazir-Medium-FD.woff") format("woff"),
                url("../font/vazir/Vazir-Medium-FD.eot") format("eot"),
                url("../font/vazir/Vazir-Medium-FD.ttf") format("ttf");
}

@font-face {
        font-family: vazir;
        font-weight: 900;
        font-style: normal;
        src: url("../font/vazir/Vazir-Black-FD.woff2") format("woff2"),
                url("../font/vazir/Vazir-Black-FD.woff") format("woff"),
                url("../font/vazir/Vazir-Black-FD.eot") format("eot"),
                url("../font/vazir/Vazir-Black-FD.ttf") format("ttf");
}

@font-face {
        font-family: vazir;
        font-weight: 700;
        font-style: normal;
        src: url("../font/vazir/Vazir-Bold-FD.woff2") format("woff2"),
                url("../font/vazir/Vazir-Bold-FD.woff") format("woff"),
                url("../font/vazir/Vazir-Bold-FD.eot") format("eot"),
                url("../font/vazir/Vazir-Bold-FD.ttf") format("ttf");
}